<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Shortly</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="styles/init.css" />
    <link rel="stylesheet" href="styles/index.css" />
  </head>
  <body>
    <!-- header section  -->
    <header>
      <div class="container">
        <nav>
          <img src="images/logo.svg" alt="logo" class="logo" />
          <ul class="nav-ul">
            <li><a href="#">Features</a></li>
            <li><a href="#">Features</a></li>
            <li><a href="#">Resources</a></li>
            <li class="u-login"><a href="#">Login</a></li>
            <li class="u-login"><a href="#">Sign Up</a></li>
          </ul>
          <div class="login">
            <a href="#">Login</a>
            <a href="#" class="btn">Sign Up</a>
          </div>
        </nav>
      </div>
    </header>
    <!-- main  section  -->
    <main>
      <!-- intro section  -->
      <section class="intro-section">
        <div class="container intro">
          <div class="intro-text sideUP">
            <h1 class="u-mb-small">
              More than just
              <span>shorter links</span>
            </h1>
            <p class="u-mb-medium">
              Build your brand’s recognition and get detailed insights on how
              your links are performing.
            </p>
            <a href="#" class="btn btn-large"> Get Started </a>
          </div>
          <div class="intro-image sideUP">
            <img src="images/illustration-working.svg" alt="intro-image" />
          </div>
        </div>
      </section>
      <!-- input & about & feature section -->
      <section class="input-section">
        <div class="container">
          <div class="input-box u-mb-large sideUP">
            <form action="/shortUrl" method="POST">
              <input type="text" name="fullUrl" placeholder="Shorten It!"/>
              <button class="link-btn">Shorten It</button>
            </form>
            <% if (shortUrl) { %>
              <h2 class="shortUrl">
                <% if (shortUrl === "error") { %>
                <h2 class="errMsg"><%= errMsg %></h2>
                <% } else { %>
                  Shorted URL : 
                  <a href="<%= shortUrl.full %>">http://<%= shortUrl.short %></a>
                <% } %>
              </h2>
              <% } %>
          </div>
          <div class="about">
            <h2 class="u-mb-small">Advanced Statistics</h2>
            <p class="u-mb-medium">
              Track how your links are performing across the web with our
              advanced statistics dashboard.
            </p>
          </div>
          <section class="features-section">
            <div class="container feature">
              <div class="feature-box box1">
                <div class="feature-image">
                  <img
                    src="images/icon-brand-recognition.svg"
                    alt="brand-recognition"
                  />
                </div>
                <h3>Brand Recognition</h3>
                <p>
                  Boost your brand recognition with each click. Generic links
                  don’t mean a thing. Branded links help instil confidence in
                  your content.
                </p>
              </div>
              <div class="feature-box box2">
                <div class="feature-image">
                  <img
                    src="images/icon-detailed-records.svg"
                    alt="detailed-records"
                  />
                </div>
                <h3>Detailed Records</h3>
                <p>
                  Gain insights into who is clicking your links. Knowing when
                  and where people engage with your content helps inform better
                  decisions.
                </p>
              </div>
              <div class="feature-box box3">
                <div class="feature-image">
                  <img
                    src="images/icon-fully-customizable.svg"
                    alt="fully-customizable"
                  />
                </div>
                <h3>Fully Customizable</h3>
                <p>
                  Improve brand awareness and content discoverability through
                  customizable links, supercharging audience engagement.
                </p>
              </div>
            </div>
          </section>
        </div>
      </section>
      <!-- boost section  -->
      <section class="boost-section">
        <div class="conatiner boost">
          <h2 class="u-mb-medium">Boost your links today</h2>
          <a href="#" class="btn btn-large">Get started</a>
        </div>
      </section>
      <!-- footer section  -->
      <footer class="footer-section">
        <div class="container footer">
          <div class="footer-logo">
            <img src="images/logo.svg" alt="logo" />
          </div>
          <div class="footer-menu">
            <p class="u-mb-small">Features</p>
            <ul class="nav-ul footer-links">
              <li><a href="#">Link Shortening</a></li>
              <li><a href="#">Branded Links</a></li>
              <li><a href="#">Analytics</a></li>
            </ul>
          </div>
          <div class="footer-menu">
            <p class="u-mb-small">Resources</p>
            <ul class="nav-ul footer-links">
              <li><a href="#">Blog</a></li>
              <li><a href="#">Developers</a></li>
              <li><a href="#">Support</a></li>
            </ul>
          </div>
          <div class="footer-menu">
            <p class="u-mb-small">Company</p>
            <ul class="nav-ul footer-links">
              <li><a href="#">About</a></li>
              <li><a href="#">Our Team</a></li>
              <li><a href="#">Careers</a></li>
              <li><a href="#">Contact</a></li>
            </ul>
          </div>
          <div class="footer-icons">
            <img src="images/icon-facebook.svg" alt="fb" />
            <img src="images/icon-twitter.svg" alt="tw" />
            <img src="images/icon-pinterest.svg" alt="pt" />
            <img src="images/icon-instagram.svg" alt="ig" />
          </div>
        </div>
      </footer>
    </main>
  </body>
  <script type="text/javascript">
    window.addEventListener('beforeunload', function (event) {
      fetch('/closeWindow');
    });
  </script>
</html>
